<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{MasterPage}">
<head>
  <meta charset="UTF-8">
  <title>Listagem Procurados</title>
</head>
<body>

  <div layout:fragment="conteudo">
    <table class="table">
      <tr>
        <th>Descrição</th>
        <th>Altrua</th>
      </tr>
      <tr th:each="procurado:${procurados}">
        <td th:text="${procurado.descricao}"></td>
        <td th:text="${procurado.altura}"></td>
      </tr>
    </table>
  </div>

  <div layout:fragment="rodape">
  </div>

</body>
</html>