<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Challenge IdWall - FIAP</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/7e3ab3f2af.js" crossorigin="anonymous"></script>
</head>
<body>

    <h1 class="text-center">Anti-Money Laundering (AML)</h1>
    <h2 class="text-center">Gerenciador de Procurados do FBI e Interpol</h2>

    <div class="container">
        <form th:action="@{/procurado/filtrar}" method="get">
            <div class="form-group d-flex justify-content-around">
                <input id="stringDeBusca" name="stringDeBusca" type="text"
                       placeholder="Digite e Busque..." th:value="${param.stringDeBusca}" class="form-control">
                <button type="submit" class="btn btn-outline-primary" style="padding: 0px !important;">
                    <i class="fa-solid fa-magnifying-glass fa-2x btn-outline-primary"
                       style="padding: 6px 12px !important;"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="container">
        <div layout:fragment="conteudo"></div>
    </div>

    <hr>

    <div layout:fragment="rodape"></div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>